
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product Categories</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>Product Categories</h1>
    <button id="save">Save</button>
    <div class="categories-container" style="display: flex;">
      <div class="unassigned" style="padding: 0 20px;">
        <h3 style="display:inline-block;">Unassigned</h3>
        <h3 style="display:inline-block;">Assigned</h3>
        <ul>
          <% for (var category in shopStyleCategories){ %>
            <li class="unassigned-category" id="<%= category %>"><%= category %>
              <p class="toggle-items">Show items</p>
              <div class="items-contain" style="display: none;">
                <% shopStyleCategories[category].forEach(function(item) { %>
                  <img src="<%= item.imageOriginal %>" style="max-width: 200px;"/>
                  <p><%= item.name %></p>
                  <p><%= item.fairThreadsCategory %></p>
                <% }); %>
              </div>
            </li>
          <% }; %>
        </ul>
      </div>
      <div class="currently-selected" style="padding: 0 20px;">
        <h3>Currently Selected</h3>
        <ul>
        </ul>
      </div>
      <div class="womens-categories" style="padding: 0 20px;">
        <h3>Women's Categories</h3>
        <ul>
          <li class="assigned-category" id="womens-tops">Tops</li>
          <li class="assigned-category" id="womens-bottoms">Bottoms</li>
        </ul>
      </div>
      <div class="mens-categories" style="padding: 0 20px;">
        <h3>Men's Categories</h3>
        <ul>
          <li class="assigned-category" id="mens-tops">Tops</li>
          <li class="assigned-category" id="mens-bottoms">Bottoms</li>
        </ul>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        var assignments = {
          shopStyleCategories: [],
        };
        $(".unassigned-category").on('click', function(e) {
          $(this).css("color", "green");
          var shopStyleCategory = $(this).attr('id');
          if(assignments.shopStyleCategories.indexOf(shopStyleCategory) === -1) {
            assignments.shopStyleCategories.push(shopStyleCategory);
            $('.currently-selected ul').append("<li class='selected-category' id='selected-" + shopStyleCategory +"'>" + shopStyleCategory + "</li>")
          }
        })

        $(".assigned-category").on('click', function(e) {
          $(this).css("color", "green");
          assignments.fairThreadsCategory = $(this).attr('id');
          console.log(assignments)
        })

        $(".currently-selected").on('click', ".selected-category", function(e) {
          var selectedCategory = $(this).html();
          var removeCategory = assignments.shopStyleCategories.indexOf(selectedCategory)
          if(removeCategory > -1) {
            $(this).remove();
            assignments.shopStyleCategories.splice(removeCategory, 1);
          }
        })

        $('.toggle-items').on('click', function(e) {
          $(this).siblings().toggle();
        })

        $("#save").on('click', function(e) {
          e.preventDefault();
          assignments = JSON.stringify(assignments);
          $.ajax({
            type:"PUT",
            url: "/admin/categories",
            dataType: 'json',
            data: {data: assignments}
          }).done(function(data) {
            console.log("Success", data)
          }).fail(function(err) {
            console.log("Fail", err)
          })
        })
      })
    </script>
  </body>
</html>
