
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product Categories</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <style>
      #header-container {
        padding: 0 40px;
      }
      .ft-category, .selected-category {
        padding: 10px;
        margin: 10px 0;
        cursor: pointer;
      }
      ul {
        padding: 0;
      }
      button {
        background: white;
        border-radius: 3px;
        border: 1px solid black;
        padding: 4px 20px;
        font-weight: 700;
      }
    </style>
  </head>
  <body style="font-family: 'Roboto', sans-serif;">
    <div style="border: 1px solid red; margin: 0 auto; width: 960px;">
      <div id="header-container" style="display: flex; align-items: center; justify-content: space-between;">
        <h1 style="margin: 10px 0;">Product Categories</h1>
        <div style="margin: 10px 0;">
          <button id="save" style="cursor: pointer;">Save</button>
        </div>
      </div>
      <div class="categories-container" style='display: flex;'>
        <div class="unassigned" style="margin: 0 40px;">
          <h3 style="display:inline-block;">Unassigned</h3>
          <h3 style="display:inline-block;">Assigned</h3>
          <ul style="list-style: none; padding: 0;">
            <% for (var category in shopStyleCategories){ %>
              <li class="unassigned-category" id="<%= category %>">
                <div style="padding: 20px 10px; border-top: 1.5px solid #3C3B3B; cursor: pointer;">
                  <h3 style="display: inline-block;"><%= category %></h3> <i class="fa fa-check-circle" style="display: none;"></i>
                  <p><%= shopStyleCategories[category][0].fairThreadsCategory %></p>
                  <div class="toggle-container">
                    <p class="toggle-items">Show items</p>
                    <div class="items-container" style="display: none;">
                      <% shopStyleCategories[category].forEach(function(item) { %>
                        <img src="<%= item.imageOriginal %>" style="max-width: 200px;"/>
                        <p><%= item.name %></p>
                        <p><%= item.fairThreadsCategory %></p>
                      <% }); %>
                    </div>
                  </div>
                </div>
              </li>
            <% }; %>
          </ul>
        </div>
        <div class="" style="position: fixed; display: flex;">
          <div class="currently-selected" style="padding: 0 20px;">
            <h3>Currently Selected</h3>
            <ul style="list-style: none;">
            </ul>
          </div>
          <div class="womens-categories" style="padding: 0 20px;">
            <h3>Women's Categories</h3>
            <ul style="list-style: none; display: 0px">
              <li class="ft-category" id="womens-tops" style="">Tops</li>
              <li class="ft-category" id="womens-bottoms">Bottoms</li>
              <li class="ft-category" id="womens-jeans">Jeans</li>
              <li class="ft-category" id="womens-dresses">Dresses</li>
              <li class="ft-category" id="womens-skirts">Skirts</li>
              <li class="ft-category" id="womens-bags">Bags</li>
            </ul>
          </div>
          <div class="mens-categories" style="padding: 0 20px;">
            <h3>Men's Categories</h3>
            <ul style="list-style: none;">
              <li class="ft-category" id="mens-tops">Tops</li>
              <li class="ft-category" id="mens-bottoms">Bottoms</li>
              <li class="ft-category" id="mens-jeans">Jeans</li>
              <li class="ft-category" id="mens-accessories">Accessories</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        var assignments = {
          shopStyleCategories: [],
        };
        $(".unassigned-category").on('click', function(e) {
          $(this).css("color", "#4F4E4E");
          $(this).find('i').css("display", "inline;");
          var shopStyleCategory = $(this).attr('id');
          if(assignments.shopStyleCategories.indexOf(shopStyleCategory) === -1) {
            assignments.shopStyleCategories.push(shopStyleCategory);
            $('.currently-selected ul').append("<li class='selected-category' id='selected-" + shopStyleCategory +"'>" + shopStyleCategory + "</li>")
          }
        })

        $(".ft-category").on('click', function(e) {
          $(this).css("color", "#4F4E4E");
          $(this).css("text-decoration", "underline")
          assignments.fairThreadsCategory = $(this).html();
          console.log(assignments)
        })

        $(".currently-selected").on('click', ".selected-category", function(e) {
          var selectedCategory = $(this).html();
          var removeCategory = assignments.shopStyleCategories.indexOf(selectedCategory)
          if(removeCategory > -1) {
            $(this).remove();
            $('#' + selectedCategory).css('color', 'black');
            $('#' + selectedCategory).find('i').hide();
            assignments.shopStyleCategories.splice(removeCategory, 1);
          }
        })

        $('.toggle-items').on('click', function(e) {
          $(this).siblings().toggle();
        })

        $("#save").on('click', function(e) {
          e.preventDefault();
          assignments = JSON.stringify(assignments);
          $.ajax({
            type:"PUT",
            url: "/admin/categories",
            dataType: 'json',
            data: {data: assignments}
          }).done(function(data) {
            setTimeout(function(){// wait for 5 secs(2)
              location.reload(); // then reload the page.(3)
            }, 1000);
          }).fail(function(err) {
            console.log("Fail", err)
            setTimeout(function(){// wait for 5 secs(2)
              location.reload(); // then reload the page.(3)
            }, 1000);
          })
        })
      })
    </script>
  </body>
</html>
