<html>
<head>
	<title></title>
	<style type="text/css">
		table {
			border:1px solid black;
		}
		tr {
			text-align: center;
		}
		td {border:1px solid black;}
	</style>
</head>
<body>
	<h1>This is your admin portal:</h1>
	<h5>Here are all your products:</h5>


	<table>
		<tr class="sectionTitle">
			<td><b><u>Id<u></b></td>

			<td><b><u>Name<u></b></td>
			<td><b><u>Brand<u></b></td>
			<td><b><u>Price<u></b></td>
			<td><b><u>Image<u></b></td>
			<td><b><u>Url<u></b></td>
			<td><b><u>Category<u></b></td>
			<td><b><u>Description<u></b></td>
			<td><b><u>Gender<u></b></td>


		</tr>
		
		<% for (var i = 0; i< products.length; i ++) { %>
		<tr>
			<td><span>
      <a href="/admin/product/<%= products[i]._id %>"> click me to edit</a>
    </span><%= products[i]._id%> </td>
    		<td><%= products[i].name %></td>
			<td><%= products[i].brand %></td>
			<td>$<%= products[i].price %></td>
			<td><img src="<%= products[i].imageOriginal %>" width="150" height="225"/></td>
			<td><%= products[i].vendUrl %></td>
			<td><%= products[i].category %></td>
			<td><%= products[i].description %></td>
			<td><%= products[i].gender %></td>
		</tr>
		<% } %>
		
	</table>
</body>
</html>