<html>
<head>
	<title></title>
</head>
<body>
<h1>prodcut here</h1>

			<table>
		<tr class="sectionTitle">
			<td><b><u>Id<u></b></td>

			<td><b><u>Name<u></b></td>
			<td><b><u>Brand<u></b></td>
			<td><b><u>Price<u></b></td>
			<td><b><u>Image<u></b></td>
			<td><b><u>Url<u></b></td>
			<td><b><u>Category<u></b></td>
			<td><b><u>Description<u></b></td>
			<td><b><u>Gender<u></b></td>


		</tr>
		
		<tr>		
			<td><%= product._id%> </td>
    		<td><input type="text" name ="name" value="<%= product.name %>"</td>
			<td><%= product.brand %></td>
			<td>$<%= product.price %></td>
			<td><img src="<%= product.imageOriginal %>" width="150" height="225"/></td>
			<td><input type="text" name ="url" value="<%= product.vendUrl %>"</td>
			<td><input type="text" name ="category" value="<%= product.category %>"</td>
			<td><input type="text" name ="description" value="<%= product.description %>"</td>
			<td><%= product.gender %></td>
		</tr>
		
		
	</table>
	<form method="post" action="/admin/product/<%= product._id%> " >
			<input type="submit" name="Submit" />
			<input type="hidden" name="_method" value="put" />
	</form>


</body>
</html>